@black-ish: #3A3C42;
@grey: lighten(@black-ish, 45%);
@light-grey: lighten(@black-ish, 60%);

@side-border: 10%;
@control-height: 20px;

.background-gradiant(@background, @from, @to) {
    background: @background;                         /* fall back for anything else */
    background: -webkit-linear-gradient(@from, @to); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@from, @to);      /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@from, @to);    /* For Firefox 3.6 to 15 */
    background: linear-gradient(@from, @to);         /* Standard syntax */
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: @black-ish;
}


header {
    border-bottom: 1px @light-grey solid;
    margin-bottom: 1em;

    h1 {
        color: @light-grey;
        margin: 1em @side-border 1em @side-border;
        font-weight: normal;
        font-size: 1em;
    }
}


section.scene {
    margin: 0 @side-border 0 @side-border;  
    text-align: center;
   
    img {
    }

    div.scrubber {
        width: 640px; /* matches image width */
        height: @control-height;
        background: black;
        margin: auto;
        position: relative;

        div.control {
            width: @control-height;
            height: 100%;
            .background-gradiant(@grey, @grey, darken(@grey, 20%));
            border: 1px @grey solid;
            position: absolute;
            cursor: ew-resize;
            border-radius: @control-height;
            box-shadow: 0px 0px 2px black;
            top: -2px; /* accounts for border width */
            left: 100px;
        }
    }
}
